<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./script.js" type="module"></script>
    <link rel="stylesheet" href="./style.css" />
    <title>Home</title>
</head>
   {{> header}}
<body>

    <h1>Homepage</h1>

    <ul>
        <li> <a href="/userList">Show Users</a></li>
    </ul>

    {{> footer}}
    
</body>
</html>