<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./script.js" type="module"></script>
    <link rel="stylesheet" href="./style.css" />
    <title>Users</title>
</head>

{{> header}}

<body>

  <div>
    <h1>Users list: </h1>
    {{#each users}}
      <p>
      {{this.firstName}}
      {{this.lastName}}
      </p>
    {{/each}}
  </div>

 <div>
  {{#if ensurance}}
  <h3>People with ensurance</h3>
  {{/if}}
 </div>

{{> footer}}

</body>
</html>